@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap');
.home {
    background: rgb(238,125,155);
    background: linear-gradient(0deg, rgba(238,125,155,1) 0%, rgba(44,52,124,1) 40%, rgba(1,9,48,1) 100%);
}
.hero {
    height: 600px;
    width: 700px;
    float: right;
    margin-right: 80px;
}

.left-home-content {
    text-align: left;
    margin-top: 150px;
    margin-left: 80px;
}
.left-home-content h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 58px;
    letter-spacing: 2px;
    text-transform: capitalize;
    color: #FFFFFF;
    margin-top: 30px;
    animation-duration: 2s;
}
.left-home-content p {
    font-family: 'Manrope';
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.75;
    width: 349px;
    margin-top: 15px;
    animation-duration: 2s;
}
.left-home-content .socials-icon {

}
.left-home-content .social-icon {
    color: #101010;
    font-size: 30px;
    margin-right: 20px;
}
.btn-dark {
    height: 48px;
    width: 160px;
    background: transparent;
    border: 1px solid #101010;
    border-radius: 10px;
    color: #101010;
    animation-duration: 2s;
}
.app-store {
    background: purple!important;
    color: #FFFFFF!important;
    border: 1px solid purple!important;
}
.play {
    background: #FFFFFF!important;
    border: 1px solid #B4A1C9!important;
    color: #101010!important;
}
.store {
    margin-right: 10px;
}
.icon {
    margin-right: 3px;
}
.home .hero {
    padding-left: 150px!important;
}
.signUp {
    margin-top: 50px;
    margin-left: 60px;
    animation-duration: 2s;
    background: #FFFFFF;
    width: 400px;
    border-radius: 10px;
    box-shadow: -1px 2px 29px -9px rgba(0,0,0,0.75);
    -webkit-box-shadow: -1px 2px 29px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 2px 29px -9px rgba(0,0,0,0.75);
}
.signUp .nav-link {
    color: #101010!important;
}
.signUp .form-control {
    height: 50px;
    width: 370px;
    margin: 15px 0 0 15px;
    border-radius: 8px;
}
.signUp .btn-purple {
    height: 50px;
    width: 370px;
    margin: 40px 0 0 0;
    border-radius: 8px;
    background: purple;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 18px;
}
.signUp .btn-dark {
    background: #FFFFFF;
    color: #101010;
    height: 50px;
    width: 370px;
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 18px;;
}
.signUp .google-icon {
    font-size: 20px;
    margin-right: 10px;
}
.signUp .forgot-password {
    text-align: right;
    margin-right: 150px;
}
.signUp .agree {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -0.214286px;
    text-align: left!important;
    width: 320px;
    margin-left: 15px;
    margin-top: 10px;
    color: #FFFFFF;
}
.signUp .register {
    margin-left: 5px;
    margin-top: 10px;
}

@media all and (max-width: 480px) {
    .home {
        width: 375px;
        height: 900px;
    }
    .left-home-content {
        text-align: center;
        margin-top: 40px;
        margin-left: 0;
        margin-bottom: 0;
    }
    .left-home-content h1 {
        font-size: 36px;
    }
    .left-home-content p {
       margin-left: 10px;
    }
    .btn-dark {
        height: 38px;
        width: 140px;
        margin-left: 25px;
        font-size: 12px;
    }
    .signUp {
        margin-top: 0;
        width: 320px;
        margin-right: 0;
        margin-left: 205px;
    }
    .hero {
        margin-right: 0;
    }
    .signUp .form-control {
        width: 300px;
    }
    .signUp .btn-purple {
        width: 300px;
    }
    .signUp .btn-dark {
        width: 300px;
    }
}
