@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap');
.home {
    background: rgb(238,125,155);
    background: linear-gradient(0deg, rgba(238,125,155,1) 0%, rgba(44,52,124,1) 40%, rgba(1,9,48,1) 100%);
}
.hero {
    height: 600px;
    width: 700px;
    float: right;
    margin-right: 80px;
}

.left-home-content {
    text-align: left;
    margin-top: 150px;
    margin-left: 80px;
}
.left-home-content h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 58px;
    letter-spacing: 2px;
    text-transform: capitalize;
    color: #FFFFFF;
    margin-top: 30px;
    animation-duration: 2s;
}
.left-home-content p {
    font-family: 'Manrope';
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.75;
    width: 349px;
    margin-top: 15px;
    animation-duration: 2s;
}
.left-home-content .socials-icon {

}
.left-home-content .social-icon {
    color: #101010;
    font-size: 30px;
    margin-right: 20px;
}
.btn-dark {
    height: 48px;
    width: 160px;
    background: transparent;
    border: 1px solid #101010;
    border-radius: 10px;
    color: #101010;
    animation-duration: 2s;
}
.app-store {
    background: #5954A4!important;
    color: #FFFFFF!important;
    border: 1px solid #5954A4!important;
}
.play {
    background: #FFFFFF!important;
    border: 1px solid #B4A1C9!important;
    color: #101010!important;
}
.store {
    margin-right: 10px;
}
.icon {
    margin-right: 3px;
}
.home .hero {
    padding-left: 150px!important;
}
.signUp .nav-link {
    margin-left: 30px;
}
.signUp {
    margin-top: 50px;
    margin-left: 60px;
    animation-duration: 2s;
    background: #FFFFFF;
    width: 450px;
    border-radius: 10px;
    box-shadow: -1px 2px 29px -9px rgba(0,0,0,0.75);
    -webkit-box-shadow: -1px 2px 29px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 2px 29px -9px rgba(0,0,0,0.75);
}
.signUp .form-group{
    margin: 25px 0px;
    text-align: left;
}
.signUp .terms{
    font-size: 12px;
}
.signUp .terms .forgot_link{
    font-size: 12px;
    color: #5954A4;
    text-decoration: none;
    margin-bottom: 20px;
}
.signUp  .forgot_link{
    font-size: 14px;
    color: #101010;
    text-decoration: none;
    margin-bottom: 20px;
    margin-left: 25px;
}

.signUp .form-group .send-code{
    font-size: 14px;
    color:  #101010;
    text-decoration: none;
    text-align: center;
    margin-bottom: 20px;
    cursor: pointer;
}
.signUp  .text-bold{
    font-weight: 600;
}
.signUp  .form-group .input-group{
    border: 2px solid #FFFFFF;
    border-radius: 3px;
    padding: 5px 10px;
    margin: auto;
    height: 50px;
    box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.75);
    width: 400px;
}

.signUp  .form-group .input-code{
    border: 2px solid  #101010;
    border-radius: 3px;
    padding: 5px 5px;
    height: 55px;
    background:  #101010;
}
.signUp  .form-group .input-code input{
    background:  #101010;
    border: 1px solid  #101010;
    font-size: 18px;
    color: #101010;
    font-weight: 600;
    letter-spacing: 5px;
    text-transform: uppercase;
}
.signUp  .form-group .input-code input::placeholder{
    font-size: 16px;
    font-weight: 500;
    letter-spacing: normal;
    text-transform: none;
}
.signUp  .form-group .input-code input:focus{
    box-shadow: none;
    outline: none;
}
.signUp  .form-group .input-group .bx{
    margin-top: 10px;
    font-size: 18px;
}
.signUp  .form-group .input-group input{
    background: transparent;
    border: 1px solid transparent;
    font-size: 15px;
    color:  #101010;
}
.signUp  .form-group .input-group input::placeholder{
    color: #cfcfcf;
}
.signUp  .form-group .input-group input:focus{
    box-shadow: none;
    outline: none;
}

.signUp  .form-group .input-group input:active{
    background: transparent;
}

.signUp  .form-buttons{
    margin-top: 10px;

}

.signUp  .form-buttons .btn{
    width: 400px;
    height: 45px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 5px;
    margin-bottom: 10px;
}
.signUp  .form-buttons .btn.btn-primary{
    background: #5954A4;
    border: 1px solid #5954A4;
    color: #FFFFFF;

}

.signUp  .form-buttons .btn.btn-secondary{
    background:  #19022e;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
}
.signUp  .form-buttons .btn.btn-secondary .img-fluid{
    width: 20px;
    margin-right: 20px;
}

.signUp  .form-buttons p{
    text-align: center;
    font-size: 13px;
    color: #101010;
}








@media all and (max-width: 480px) {
    .home {
        width: 375px;
        height: 900px;
    }
    .left-home-content {
        text-align: center;
        margin-top: 40px;
        margin-left: 0;
        margin-bottom: 0;
    }
    .left-home-content h1 {
        font-size: 36px;
    }
    .left-home-content p {
       margin-left: 10px;
    }
    .btn-dark {
        height: 38px;
        width: 140px;
        margin-left: 25px;
        font-size: 12px;
    }
    .signUp {
        margin-top: 0;
        width: 320px;
        margin-right: 0;
        margin-left: 205px;
    }
    .hero {
        margin-right: 0;
    }
    .signUp .form-control {
        width: 300px;
    }
    .signUp .btn-purple {
        width: 300px;
    }
    .signUp .btn-dark {
        width: 300px;
    }
}
