
.Header-nav .navbar{
    background: rgba(1,9,48,1);
    padding: 20px;
}
.Header-nav .home-nav{
    background: transparent;
}
.Header-nav .navbar .navbar-brand{
    color: #FFFFFF;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 20px;
    margin: 0px 30px;
}
.Header-nav .navbar .nav-item{
    color: #FFFFFF;
    margin: 0px 20px;
}
.Header-nav .navbar .nav-item .nav-link{
    font-weight: 600;
    font-size: 14px;
    color: #FFFFFF;
}
.Header-nav .buttons .btn{
    margin-right: 30px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 500;
    padding: 7px 15px;
}
.Header-nav .buttons .btn.btn-secondary{
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    color: #19022e;
}
.Header-nav .buttons .btn.btn-primary{
    background: #5954A4;
    border: 1px solid #5954A4;
    margin-right: 140px;
}
.Header-nav .basic-nav-dropdown {

}
.Header-nav .dropdown-item{
    width: 400px;
}
.Header-nav .dropdown-item .nav-link{
    color: #101010!important;
}
