
.quick {
    margin-top: 100px;
    margin-left: 300px;
    margin-bottom: 100px;
    border-radius: 30px;
    text-align: left;
}
.promo {
    margin-top: 55px;
}
.currency {
    margin-right: 30px;
}
.quick .payments {
    justify-content: left;
    margin-top: 20px;
    margin-bottom: 10px;
    padding-right: 900px;
}
.quick .vexi {
    margin-right: 50px;
    font-weight: bold;
}
.payment-method {

}
.quick .nav-link {
    box-shadow: -1px -3px 25px -9px rgba(0,0,0,0.75);
    -webkit-box-shadow: -1px -3px 25px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px -3px 25px -9px rgba(0,0,0,0.75);
    border-radius: 10px;
    background: #FFFFFF!important;
    margin-left: 30px;
    width: 150px;
    height: 100px;

}
.quick .nav-link:hover {
    border: 2px solid #5954A4;
}
.quick .nav-link:focus {
    border: 2px solid #5954A4;
}
.quick .cardss {

}
.visa {
    margin-right: 50px;
    justify-content: center;
    padding-left: 20px;
    padding-top: 30px;
    float: left;
}
.quick-content p {
    text-align: left;
    width: 600px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.quick-button {
    float: left;
}
.quick-button .btn {
    margin-right: 10px;
    background: #5954A4;
    color: #FFFFFF;
    height: 50px;
    width: 370px;
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 18px;
    border: 1px solid #5954A4;
    border-radius: 10px;
}
.quick-button .btn-light-purple {
    background: #a8a3e1 !important;
    color: #5954A4!important;
    border: 1px solid #8f89de!important;
}
@media all and (max-width: 480px) {
    .quick {
        margin-top: 50px;
        margin-left: 0;
        border-radius: 30px;
        text-align: center;
        height: 700px;
    }
    .promo {
        margin-top: 55px;
        font-size: 20px;
        margin-left: 30px;
    }
    .quick .payments {
        justify-content: left;
        margin-top: 20px;
        margin-bottom: 10px;
        padding-right: 60px;
    }
    .quick .nav-link {
        width: 130px;
    }
    .quick .vexi {
        margin-right: 50px;
        font-weight: bold;
        margin-left: 30px;
    }
    .quick-content {
        margin-left: 20px;
    }
    .quick-content p {
        text-align: center;
        width: 350px!important;
    }
    .quick-button {
        display: flex;
        flex-direction: column!important;
        margin-right: 0;
        margin-left: 15px;
    }
    .quick-button .btn {
      width: 300px;
    }
    .btn-light-purple {
        margin-top: 20px;
    }
}
