.services {
    margin-top: 100px;
    margin-bottom: 100px;
    width: 100%;
}
.services h1{
    margin-bottom: 50px;
    font-weight: bold;
    text-align: center;
}
.services p {
    text-align: left;
    font-size: 15px;
}
.services h4 {
    text-align: left;
    font-weight: bold;
}
.services .row-section {
    margin-left: 50px;
}
.support {
    height: 100px;
    width: 100px;
    margin-right: 250px;
}
.secure {
    height: 100px;
    width: 100px;
    margin-right: 250px;
}
.p2p {
    height: 100px;
    width: 100px;
    margin-right: 250px;
}
@media all and (max-width: 480px) {
    .services {
        margin-top: 50px;
        margin-bottom: 100px;
    }
    .services h4 {
        text-align: center;
    }
    .p2p {
        margin-right: 0;
    }
    .support {
        margin-right: 0;
    }
    .secure {
        margin-right: 0;
    }
}
