.trade {
    background: #5954A4;
    height: 600px;
}
.trade-left {
    height: 400px;
    width: 550px;
    float: left;
    margin-left: 60px;
    padding-bottom: 40px;
    background: #FFFFFF;
    margin-top: 70px;
    border-radius: 10px;
    box-shadow: -1px 2px 29px -9px rgba(0,0,0,0.75);
    -webkit-box-shadow: -1px 2px 29px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 2px 29px -9px rgba(0,0,0,0.75);
}
.swap-exchange {
    padding-bottom: 40px!important;
}
.trade-left .input-group {
    width: 500px;
    padding-left: 50px!important;
}
.btn-outline-secondary {}

.trade-left .form-control {
    height: 50px;
    width: 300px;
    font-size: 30px;
}
.trade-left .btn {
    width: 150px;
    border: 1px solid #5954A4;
    background:  #5954A4;
    color: #FFFFFF;
}
.trade-left .btn:hover {
    background:  #5954A4;
    color: #FFFFFF;
}

.you-pay {
    text-align: left;
    margin-left: 50px;
    padding-top: 20px;
    mix-blend-mode: normal;
    opacity: 0.75;
    width: 370px;
    font-size: 15px;
}
.you-get {
    text-align: left;
    margin-left: 50px;
    mix-blend-mode: normal;
    opacity: 0.75;
    font-size: 15px;
}
.conversion-amount {
    mix-blend-mode: normal;
    opacity: 0.75;
    font-size: 15px;
}
.trade-left .send {

}
.trade-left .get {

}
.trade-left .btn-purple {
    height: 50px;
    width: 450px;
    border-radius: 8px;
    background:  #5954A4;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 18px;
    margin-left: 50px;
}
.trade-left .btn-purple:hover {
    background:  #5954A4;
    color: #FFFFFF;
}
.trade-right-content {
    text-align: left;
    padding-left: 100px;
    padding-top: 150px;
    margin-left: 100px;
}
.trade-right-content h1{
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 58px;
    letter-spacing: 2px;
    text-transform: capitalize;
    color:  #FFFFFF;
}
.trade-right-content p {
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.75;
    width: 370px;
    margin-top: 15px;
}
.trade-right-list {
    text-align: left!important;
}
.trade-list {
    color: #FFFFFF;
    list-style-type: none;
    margin-top: 30px;
    font-weight: 500;
    font-size: 15px;
    mix-blend-mode: normal;
    opacity: 0.75;

}
.trade-right-content .btn-dark {
    height: 48px;
    width: 200px;
    background:  #FFFFFF;
    border: 1px solid #101010;
    border-radius: 10px;
    margin-right: 20px;
    color: #101010;
    animation-duration: 2s;
}
.trade-right-content .video {
    height: 48px;
    width: 330px;
    border-radius: 10px;
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    color: #101010;
}
.youtube {
    color: red;
    font-size: 30px;
    margin-right: 5px;
}
.arrow {
    color:  #101010;
    font-size: 20px;
    mix-blend-mode: normal;
    opacity: 0.75;
    margin-left: 250px;
}

@media all and (max-width: 480px) {
    .trade {
        height: 950px;
    }
    .trade-left {
        width: 320px;
        margin-left: 28px;
    }
    .trade-left .input-group {
        width: 300px;
        padding-left: 20px!important;
    }
    .trade-left .btn {
        width: 100px;
    }
    .trade-left .btn-purple {
        width: 300px;
    }
    .trade-right-content {
        text-align: center;
        padding-left: 0;
        padding-top: 20px;
        margin-left: 0;
    }
    .trade-right-content h1{
        color: #FFFFFF;
        margin-left: 0;
        padding-bottom: 0;
        margin-top: 0;
        font-size: 36px;
    }
    .trade-right-content p {
        margin-top: 0;
        width: 300px;
        text-align: center;
        margin-left: 35px;
    }
    .trade-right-content .btn-dark {
        width: 300px;
    }
    .trade-right-content .video {
        height: 48px;
        width: 300px;
        margin-top: 20px;
    }
    .trade-right-list {
        text-align: left!important;
    }
    .trade-list {
        margin-top: 10px;

    }
}
