
.footer {
    background: rgb(238,125,155);
    background: linear-gradient(0deg, rgba(238,125,155,1) 0%, rgba(44,52,124,1) 40%, rgba(1,9,48,1) 100%);
    height: 600px;
    width: 100%;
    margin-top: 100px;
}
@media all and (max-width: 480px) {
    .footer {
        height: 1000px;
    }
}
