.invest {
    background: #5954A4;
    height: 300px;
    width: 80%;
    border-radius: 30px;
    margin: auto;
}
.invest-content {
    padding-left: 80px;
}
.invest h1 {
    width: 455px;
    text-align: left;
    color: #FFFFFF;
    padding-top: 50px;
}
.invest p {
    text-align: left;
    padding-left: 80px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.75;
}
.invest .btn {
    margin-left: 100px;
    height: 50px;
    width: 370px;
    border-radius: 10px;
    margin-top: 100px;
    background: purple;
    border: 1px solid purple;
}
@media all and (max-width: 480px) {
    .invest-content {
        padding-left: 0;
        display: flex;
        flex-direction: column;
    }
    .invest h1 {
        width: 300px;
        text-align: center;
        color: #FFFFFF;
        padding-top: 50px;
    }
    .invest .btn {
        margin-left: 50px;
        height: 50px;
        width: 200px;
        margin-top: 10px;
    }
    .invest p {
        text-align: center;
        padding-left: 0;
        margin-top: 5px;
    }
}
