
.navbar {
    background: transparent;
    padding-top: 30px;
    padding-left: 30px;
    animation-duration: 2s;
}


.nav-item {
    padding: 0;
}
.navbar-nav .sign-in {

}
.navbar-nav .create {
    color: #FFFFFF;
}
.nav-link {
    color: #FFFFFF;
    font-size: 15px;
}
.nav-link:hover {
    color: purple;
}
.navbar-nav .sign-in {
    margin-left: 40px!important;
}
.navbar-nav .create {
    background: purple;
    color: #FFFFFF;
    border-radius: 8px;
    padding: 10px;
}
