
.marquee {
    width: 100%;
    height: 50px;
    background: #0e1647;
    overflow: hidden;
}
.marquee ul {
    padding-top: 10px;
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    -moz-animation: scroll-left 2s linear infinite;
    -webkit-animation: scroll-left 2s linear infinite;
    animation: scroll-left 50s linear infinite;

}
.marquee li {
    list-style-type: none;
    margin-right: 3px;
    font-weight: 200;
    color: #FFFFFF!important;
}
.market-prices span {
    margin-right: 12px;
    font-weight: 700;
    color: #FFFFFF!important;
}
@-moz-keyframes scroll-left {
    0% {
        -moz-transform: translateX(100%);
    }
    100% {
        -moz-transform: translateX(-100%);
    }
}

@-webkit-keyframes scroll-left {
    0% {
        -webkit-transform: translateX(100%);
    }
    100% {
        -webkit-transform: translateX(-100%);
    }
}

@keyframes scroll-left {
    0% {
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
    100% {
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}
