.section2 {
    background: #B4A1C9;
    margin-top: 100px;
    width: 80%;
    margin-left: 150px;
    border-radius: 30px;
    height: 400px;
}


.section2 .security {
    height: 200px;
    width: 200px;
    margin-right: 30px;
}
.section2 h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 58px;
    letter-spacing: 2px;
    text-align: left;
    padding-top: 10px;
    animation-duration: 2s;
    color: rebeccapurple;
}
.section2 p {
    width: 500px;
    text-align: left;
    animation-duration: 2s;
}
.section2 .passcode {
    position: absolute;
    height: 350px;
    width: 175px;
    margin-top: 30px;
    right: 250px;
    animation-duration: 2s;
}
.left-se2 {
    margin-top: 100px;
    padding-left: 50px;
}
.shape {
    background-image: url("../assets/home/Meteor3.svg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    width: 200px;
    margin-left: 250px;
}
.section3 {
    margin-top: 100px;
    justify-content: center;
    margin-bottom: 100px;
}
.box1 {
    height: 300px;
    width: 300px;
    background: #8454a2;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
}
.box2 {
    height: 300px;
    width: 300px;
    background: #5954A4;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
}
.middle-box {
    width: 400px;
    text-align: left;
    padding-left: 30px;
}
.middle-box h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 36px;
    color: rebeccapurple;
}
.middle-box p {
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
}
.white-money {
    width: 200px;
}
.white-money h1 {
    padding-right: 150px;
    margin-right: 50px;
    font-size: 50px;
    color: rgb(197, 109, 132);
}
.crypto {
    width: 250px;
    height: 300px;
}
