@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@300;400;500;600;700;800&display=swap');
body{
    background: #f7f8fb;
    font-family: 'Poppins', sans-serif;
}
.dashboard-home{
    margin: 20px 30px;
}
.assets-balance{
    margin-top: 20px;
}
.assets-balance h6{
    font-weight: 500;
    font-size: 14px;
    color: #5b5a5c;
}
.assets-balance h2{
    margin-top: 0px;
    padding-top: 0px;
    font-size: 35px;
    font-weight: 700;
    color: #101010;
}
.assets-balance p{
    font-size: 13px;
    color: #5b5a5c;
}