
.credit-card {
    height: 550px;
    width: 100%;
    background: #8454a2;
}
.credit-card h1 {
    padding-top: 100px;
    color: #FFFFFF;
    font-weight: bold;
    text-align: center;
}
.credit-card p {
    font-weight: bold;
    color: purple;
    mix-blend-mode: normal;
    text-align: center;
}
.box {
    width: 60%;
    height: 180px;
    background: #FFFFFF;
    margin: auto;
    box-shadow: -1px 2px 29px -9px rgba(0,0,0,0.75);
    -webkit-box-shadow: -1px 2px 29px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 2px 29px -9px rgba(0,0,0,0.75);
}
.box .input-group {
    height: 60px;
}
.box .spend {
    width: 400px;
    margin-right: 20px;
    margin-left: 20px;
}
.box .get {
    width: 200px;
    margin-right: 20px;
}
.box .btn-buy {
    width: 170px;
    background: #5954A4;
    border: 1px solid #5954A4;
    height: 60px;
    color: #FFFFFF;
}
.box .btn-buy:hover {
    background: #5954A4;
    color: #FFFFFF;
}
.form-label {
    margin-left: 20px;
    margin-top: 30px;
    color: #101010;
    mix-blend-mode: normal;
    opacity: 0.75;
}
.right {
    margin-right: 300px;
}
.credit-card .form-control {
    font-size: 30px;
}
@media all and (max-width: 480px) {
    .box {
        width: 350px;
    }
    .box .spend {
        width: 200px;
        margin-right: 0;
        margin-left: 0;
    }
    .box .get {
        width: 100px;
        margin-right: 0;
    }
    .box .btn {
        width: 100px;
    }
    .credit-card p {
        font-weight: bold;
        color: purple;
        mix-blend-mode: normal;
    }
    .credit-card .form-label {
        margin-left: 0;
        margin-top: 0;
        display: none;
    }
}
